﻿@model IEnumerable<Case4YuNew.Conexion.tb_csgo>

@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script type="text/javascript">
    /* Set the width of the side navigation to 250px */
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    /* Set the width of the side navigation to 0 */
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>

<div style="text-align:center; margin-top:50px;">
    <img src="~/Images/principal.png" />
</div>

<hr style="border: 3px solid darkgray; border-radius: 300px; height: 0px; text-align:center; margin: 50px; padding: 1px;" />

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    @foreach (var item in Model)
    {
        <a href="#">@{
            var base64 = Convert.ToBase64String(item.cs_imagenskin);
            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        }
        <img src=@imgSrc alt="Skin" class="image" style="height:50%; width:50%;"></a> }
    <a href="/cajas/cajas">Cajas CSGO</a>
    <a href="/csgo/skins">Skins CSGO</a>
    <a href="/About/Home">Acerca de</a>
</div>

<!-- Use any element to open the sidenav -->
<div style="text-align:center;">
    <span onclick="openNav()" class="btn panel">ULTIMAS APERTURAS!</span>
</div>

<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">

</div> 

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container" style="width:800px; height:600px;">
        <h2 style="text-align:center; color:darkgrey;">Nuestras opciones!</h2>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                <div class="item active">
                    <img src="~/Images/imagen1carrusel.jpg" alt="CSGOSkins" class="img-rounded">
                    <div class="carousel-caption">
                        <h3>CS:GO Skins</h3>
                        <p>Las mejores skins de CS:GO con el mejor precio!</p>
                    </div>
                </div>

                <div class="item">
                    <img src="~/Images/imagen2carrusel.jpg" alt="CaseCSGO" class="img-rounded">
                    <div class="carousel-caption">
                        <h3>Case Opening</h3>
                        <p>Abre tus cajas favoritas al mejor precio y obten increibles Skins!</p>
                    </div>
                </div>

                <div class="item">
                    <img src="~/Images/imagen3carrusel.jpg" alt="TradeoSkins" class="img-rounded">
                    <div class="carousel-caption">
                        <h3>Tradeo de Skins</h3>
                        <p>Tradea con tus skins con otras personas. Mercado de compra/venta!</p>
                    </div>
                </div>

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

</body>