﻿@model Case4YuNew.Conexion.tb_csgo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tb_csgo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cs_stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cs_stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cs_precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cs_precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cs_skins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cs_skins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cs_imagen_skin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cs_imagen_skin)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
