﻿@model Case4YuNew.Conexion.tb_csgo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tb_csgo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cs_stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cs_stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cs_precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cs_precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cs_skins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cs_skins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cs_imagen_skin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cs_imagen_skin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cs_id_producto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
