﻿@model IEnumerable<Case4YuNew.Controllers.csgoController>

@{
    ViewBag.Title = "Skins CSGO";
}

<!-- CSS Hover -->

<h1 style="color: darkgrey; text-align:center;">Skins CSGO</h1>

<style>
    .contenedorJuego {
        position: relative;
        width: 50%;
    }

    .image {
        display: block;
        width: 100%;
        height: auto;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #ffd800;
    }

    .contenedorJuego:hover .overlay {
        opacity: 1;
    }

    .text {
        text-align: left;
        color: black;
        font-size: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
</style>

<p>

</p>
@{
    var elementosColumna = 1;
}

<table align="center" width="100%" height="100%" class="table-responsive img-rounded" style="border: 2px solid darkgray;">
        <tr>
            @foreach (var item in Model)
            {

                <td align="center">
                    <div class="contenedorJuego">
                        @{
                            var base64 = Convert.ToBase64String(item.cs_imagenskin);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        }
                        <img src=@imgSrc alt="Skin" class="image">
                        <div class="overlay">
                            <div class="text">
                                @Html.Label("Nombre:") @item.cs_skins <hr />
                                @Html.Label("Precio:") @item.cs_precio <hr />
                                @Html.Label("Stock:") @item.cs_stock
                                <div>
                                    @using (Html.BeginForm())
                                    {
                                        <input type="button" name="compraSkin" class="bottom" value="Comprar Skin" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                                if ( elementosColumna % 3 == 0)
                                {
                                    @:</tr><tr>
                                }
                                elementosColumna++;
                            }
        </tr>
</table>


