﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Case4Yu -</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="background-image:url(../../Images/fondo.jpg)">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    @Html.ActionLink("CASE4YU", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                   <!-- <a href="@Url.Action("Index", "Home")">
                        <img src="~/Images/logoweb.png" alt="" />
                    </a> -->
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Skins CSGO", "skins", "csgo")</li>
                    <li>@Html.ActionLink("Cajas CSGO", "cajas", "cajas")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr style="border: 3px solid darkgray; border-radius: 300px; height: 0px; text-align:center; margin: 50px; padding: 1px;" />
        <footer>
            <p style="color: darkgrey; text-align:center;">&copy; @DateTime.Now.Year - Case4Yu - Todos los derechos reservados</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>