﻿@model Case4YuNew.Conexion.tb_cajas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tb_cajas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cs_stock_caja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cs_stock_caja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cs_precio_caja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cs_precio_caja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cs_caja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cs_caja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cs_imagencaja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cs_imagencaja)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cs_id_caja }) |
    @Html.ActionLink("Back to List", "Index")
</p>
